body {
  max-width: 1920px;
  margin: 0 auto;
  background-color:lightgray;
}
asdfasdfasd


asdfasfdf


asdasfdf
asfasfsafdsadf



asdfasdfsadf

sasdfasdfasdf
dfsaasfd

asdasdfsfd

asdfasdfas
a
sdfasdf
a
sdfasfd
